header {
    text-align: center;
    background-color: #3F334D;
    padding: 1.5rem 0;
    color: white;
    font-size: 1.5rem;
    svg {
        color: white;
    }
}

footer {
    text-align: center;
    background-color: #3F334D;
    padding: 1.5rem 0;
    color: white;
}

.rounded-btn {
    margin-top: 1rem;
    border-radius: 50%;
    border: none;
    background-color: #3F334D;
    color: white;
    width: 3rem;
    height: 3rem;
    &:focus {
        outline: 0;
    }
}

.rounded-btn-disabled {
    background-color: #3F334D;
    opacity: 60%;
    margin-top: 1rem;
    border-radius: 50%;
    border: none;
    color: white;
    width: 3rem;
    height: 3rem;
    &:focus {
        outline: 0;
    }
}


.container {
    padding-bottom: 2rem;  
}

.bg-dark-blue {
    background-color: #3F334D;
    color: white;
    padding: 1rem 0;
}

#calculator {
    border: solid 0.25rem #3F334D;
    // text-align: center;
    border-radius: 0.25rem;
    margin-top: 2rem;
}

.custom-form {
    padding: 1rem 3rem;
}

.calculate-btn {
    background-color: #3F334D;
    color: white;
    border: none;
    &:focus {
        outline: 0;
    }
}

.result {
    padding-top: 4.4rem;
    text-align: center;
    border: 0.25rem solid #3F334D;
    color: #3F334D;
    border-radius: 50%;
    width: 14rem;
    height: 14rem;
    margin-top: 3rem;
    h3 {
        font-size: 3rem;
    }
}

#page-404 {
    padding: 13.3rem 0;
    text-align: center;
}

.d-flex {
    .form-control {
        width: 80%;
    }
}

.rounded-crud-btn {
    margin-left: 1rem;
    border-radius: 50%;
    border: none;
    background-color: #3F334D;
    color: white;
    width: 2.2rem;
    height: 2.2rem;
    font-size: 0.8rem;
    &:focus {
        outline: 0;
    }
}