.number-input {
    padding: 2rem 1rem 1rem 1rem;
    text-align: center;
}

.number-input h2 {
    font-size: 1.6rem;
    padding-bottom: 1rem;
}

.number-input span {
    font-size: 3rem;
}

.number-input svg {
    font-size: 2rem;
}